/* .App{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

div{
    max-width: 100%;
    align-items: center;
    justify-content: center;
} */

/* App.css */

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .container {
    text-align: center;
  }
  
  .subApp{  
    border: 5px solid black;
    border-radius: 15px;
    width: auto;
  }
  